<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="css/home.css">
    <div class="container">
        <div class="row">
            <div class="heading col-md-6">
                <h1>Welcome To the Smart Farm Management System</h1>
            </div>
            <div class="content col-md-6">
                <p>our idea on smart farm management system gives you the most liberal way and helps you identify the most idea crops suitable for your area. you can moniter your crops from any part of the world and set your plans in according to the harvest time of crops.
accessing state govt. and central government sites from our website for arious subsidies as well as new notifications are much easier.

in future we will also bring trade options and privide farmers with rental and lending options of their area and equipments, machinaries.. stay tuned</p>
            </div>
        </div>
    </div>