<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="css/home.css">
    <div class="container">
        <div class="row">
            <div class="heading col-md-6">
                <h1>Welcome To the Smart Farm Management System</h1>
            </div>
            <div class="content col-md-6">
                <p>Smart farming is a modern farming managemental concept with IoT technology to increase the
                    productivity in
                    agriculture. With the use of smart farming, farmers can effectively use fertilizers and other
                    resources to increase the
                    quality and quantity of their crops. Farmers cannot be physically present on the field 24 hours a
                    day. Also, the
                    farmers may not have the knowledge to use different tools to measure the ideal environmental
                    conditions for their
                    crops. IoT provides them with the automated system which can function without any human supervision
                    and can
                    notify them to make proper decision to deal with different kind of problems they may face during
                    farming. It has the
                    capability to reach and notify the farmer even if farmer is not on the field, which can allow farmer
                    to manage more
                    farmland, thus improving their production.</p>
            </div>
        </div>
    </div>