<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="css/home.css">
    <div class="container">
        <div class="row">
            <div class="heading col-md-6">
                <h1>Welcome To the Smart Farm Analysing System</h1>
            </div>
            <div class="content col-md-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, sapiente, rem corporis natus
                    accusantium facere ea autem dolor, ab suscipit error? Odit cumque libero asperiores nostrum fuga a
                    officia atque?
                    Alias et id voluptatem nostrum voluptatibus tempore qui laboriosam vero, accusantium rem ut adipisci
                    impedit ratione ullam deserunt reprehenderit iusto officia? Adipisci sed illo exercitationem
                    delectus recusandae totam assumenda magnam.</p>
            </div>
        </div>
    </div>